@media (min-width: 1281px) {
    input, button {
        width: 10%;
        margin: 1%;
        color: black;
        font-size: 20px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    input, button {
        width: 10%;
        margin: 1%;
        color: black;
        font-size: 20px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    input, button {
        width: 98%;
        margin: 2%;
        display: block;
        color: black;
        font-size: 20px;
    }
}